<style>
.vid-item
{
  transition: transform 0.2s;
}

.vid-item:hover{
  transform: scale(1.1);
}
</style>


<h2> Search Videos</h2>
<form action ="/videos" method="GET">

<input type ="text" name="name" value="<%= searchOptions.name%>" placeholder="Search" style="border-radius: 17.5px; border: none; font-size: 20px; background-color:rgb(31, 31, 31); height: 40px; caret-color: white; color: white; padding-left: 10px;" size="50" >
<select id = "mySelect" onchange="this.form.submit()" name="sort" id="cars" style="font-size: 20px; color: white; background-color: rgb(31, 31, 31); border: none;height: 40px; padding-left: 10px;"  >
  <!-- <option value="" selected disabled hidden>Choose here</option> -->
  <option value="a">Newest</option>
  <option value="b">Oldest</option>
  <option value="c">Average Rating</option>
  <option value="d">Title</option>
</select>
</form>
<script>
  var temp = "<%=searchOptions.sort%>";
  var mySelect = document.getElementById('mySelect');
 // console.log(temp)
  for(var i, j = 0; i = mySelect.options[j]; j++) {
      if(i.value == temp) {
          mySelect.selectedIndex = j;
          break;
      }
  }
  </script>
<br>
<% videos.forEach(video => { %>
    <!-- <a href = "/videos/<%=video.id%>"><div><%=video.title%></div></a> -->
    <!-- <a href = "<%= video.link%>" target="_blank"> -->
    <a href = "/videos/<%=video.id%>">
        <div class = "item vid-item">
          <img class = "img" src="<%=video.imageAddress%>" alt="Lamp" width="50">
          <p class = "vInfo" id = "overflo"> <span style ="font-size: 20px; "><%= video.title%></span><br> <span style="font-size: 12.5px; color:rgb(170, 170, 170)"><%= video.author%></span></p>
        </div>
    </a> 
<% }) %>