<p> <%= video.title%></p>
<p> Stars: <%= video.stars%> / <%= video.totalStars%></p>
 <a href = "<%= video.link%>" target="_blank">
    <div class = "item">
      <img class = "img" src="<%=video.imageAddress%>" alt="Lamp" width="50">
      <p class = "vInfo" id = "overflo"> <%= video.title%><br> <%= video.author%></p>
    </div>
</a> 